<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />

<link href="/css/reset.css" th:href="@{/css/reset.css}" rel="stylesheet" />
<link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />

<title>物産展</title>
</head>
<body>
<header th:insert="fragments/page_header::pageHeader"></header>

<main>

	<div class="container">
		<h2>マイページ</h2>
		
		<table class="myPage">
			<tr>
				<th>氏名</th>
				<td>
					<span th:text="${user.familyName}" class="familyName"></span>
					<span th:text="${user.firstName}" class="firstName"></span>
				</td>
			</tr>
			<tr>
				<th>氏名ふりがな</th>
				<td>
					<span th:text="${user.familyNameKana}" class="familyNameKana"></span>
					<span th:text="${user.firstNameKana}" class="firstNameKana"></span>
				</td>
			</tr>
			<tr>
				<th>性別</th>
				<td>
					<span th:text="${user.gender == 0 ? '男性' : '女性' }" class="gender"></span>
				</td>
			</tr>
			<tr>
				<th>ユーザー名<br /><span class="note">（メールアドレス）</span></th>
				<td>
					<span th:text="${user.userName}" class="userName"></span>
				</td>
			</tr>
			<tr>
				<th>パスワード</th>
				<td>
					<span class="password">******</span><a href="#" class="resetPassword">再設定</a>
					<input type="hidden" id="hiddenPassword" th:value="${user.password}" />
				</td>
			</tr>
			<tr>
				<th class="buttonArea">
				</th>
				<th class="buttonArea">
					<form action="/glider/history/">
						<button id="historyButton">購入履歴</button>
					</form>
				</th>
			</tr>
		</table>
	
	</div>
	<!-- Modal Dialog (パスワード再設定) -->
	<div th:insert="fragments/dialog_reset_password::dialogResetPassword"></div>

</main>

<script>
$(() => {
	let password = $('#hiddenPassword').val();
	let asters='';
	for(let i= 0 ; password.length > i; i++ ){
	asters += '*';
	}
	$('span.password').text(asters);

		$('#resetPassword').dialog(dialogConfig.resetPassword);
	
		$('a.resetPassword').on('click', (e) => {
		$("#resetPassword").dialog("open");
	});
});
</script>

</body>
</html>